<p id="notice"><%= notice %></p>

<h1>Professionals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <td><%= link_to 'Show', professional %></td>
        <td><%= link_to 'Appointments', professional_appointments_path(professional) %></td>
        <% if can? :manage, Professional %>
          <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
          <td><%= link_to 'Delete', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Download appointments grid</h3>
<%= form_for :grid, url: grid_create_path do |form| %>
  <%= form.label :date, "Select date:"%>
  <%= form.date_field :date, include_blank: true %>
  <%= form.collection_select :professional, @professionals, :id , :name, :include_blank => true%>
  <%= form.radio_button :type, 'week', :checked => true %> 
  <%= label :type, 'Week' %>
  <%= form.radio_button :type, 'day' %>
  <%= label :type, 'Day' %>
  <%= form.submit 'Download' %>
  <%= link_to 'Reset', professionals_url %>
<% end %>

<br>
<% if can? :create, Professional %>
  <%= link_to 'New Professional', new_professional_path %>
<% end %>
<% if can? :manage, User %>
  <%= link_to 'Users management', users_path %>
<% end %>